{% extends "index.html" %}
{% import "post_macros.html" as post_macros %}

{% block content %}

    {% block navigation %}
    {{ post_macros::navigation() }}
    {% endblock navigation %}

<article itemscope itemtype="http://schema.org/BlogPosting">
    <header>
        <h1 itemprop="headline">{{ section.title }}</h1>
    </header>
    <div itemprop="articleBody">
      {{ section.content | safe }}
    </div>

    {% block page_footer %}
        <footer>
            <hr>
            <p>
                {% if config.extra.author %}
                    Published by {{ config.extra.author }}
                {% endif %}
            </p>
        </footer>
    {% endblock page_footer %}
</article>

{% endblock content %}

